input, textarea {
    font-size: 24px;
}

#page-letter-detail {
    display: flex;

    align-items: center;
    justify-content: center;
    max-height: 900px;
  }

#page-letter-detail main {
    flex: 1;    
  }

form.letter-detail-form {
    height: 900px;
    width: 1000px;
    margin-top: 50px;
  
    background: #FFFFFF;
    border: 1px solid #D3E2E5;
    border-radius: 20px;
  
    padding: 64px 80px;
  
    overflow: hidden;
  }

  form.letter-detail-form fieldset {
    border: 0;
  }
  
  form.letter-detail-form fieldset + fieldset {
    margin-top: 80px;
  }
  
  form.letter-detail-form fieldset legend {
    width: 100%;
  
    font-size: 32px;
    line-height: 34px;
    color: #5C8599;
    font-weight: 700;
  
    border-bottom: 1px solid #D3E2E5;
    margin-bottom: 40px;
    padding-bottom: 24px;
  }

  form.letter-detail-form .input-block + .input-block {
    margin-top: 24px;
  }
  
  form.letter-detail-form .input-block label {
      font-size: 18px;
    display: flex;
    color: #8FA7B3;
    margin-bottom: 8px;
    line-height: 24px;
  }
  
  form.letter-detail-form .input-block label span {
    font-size: 14px;
    color: #8FA7B3;
    margin-left: 24px;
    line-height: 24px;
  }
  
  form.letter-detail-form .input-block input,
  form.letter-detail-form .input-block textarea {
    width: 100%;
    background: #F5F8FA;
    border: 1px solid #D3E2E5;
    border-radius: 20px;
    outline: none;
    color: #5C8599;
    margin-bottom: 30px;
  }

  form.letter-detail-form .input-block.nome {
      width: 600px;
  }

  form.letter-detail-form .input-block.idade {
    width: 200px;
    margin-top: 0;
  }
    
  form.letter-detail-form .nome-idade {
      display: flex;

      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
  }

  form.letter-detail-form .input-block input {
    height: 64px;
    padding: 0 16px;
  }
  
  form.letter-detail-form .input-block textarea {
    min-height: 240px;
    max-height: 240px;
    resize: vertical;
    padding: 16px;
    line-height: 28px;
  }

  form.letter-detail-form button.ler-button {
    margin-top: 24px;
    
    font-size: 24px;

    width: 100%;
    height: 64px;
    border: 0;
    cursor: pointer;
    background: #3CDC8C;
    border-radius: 20px;
    color: #FFFFFF;
    font-weight: 800;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    transition: background-color 0.2s;
  }
  
  form.letter-detail-form button.ler-button svg {
    margin-right: 16px;
  }
  
  form.letter-detail-form button.ler-button:hover {
    background: #36CF82;
  }